@keyframes transformOption {
    0% {
        background-color: var(--two-color);
        width:3rem;
        height: 9rem;
        border-radius: .5rem;
        color: var(--text-color-one);
        margin: .5rem;
    }

    100% {
        background-color: var(--two-color);
        width: 6.2rem;
        height: 9.2rem;
        color: var(--text-color-tree);
        margin: .1rem;
    }
}

@keyframes transforEdit {
    0% {
        width:3rem;
    }

    100% {
        width: 10rem;
    }
}
.assistants-option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: .5rem;
    background-color: var(--two-color);
    width: 7rem;
    height: 11rem;
    border-radius: .5rem;
    color: var(--text-color-one);
    margin: .5rem;
    transition: .15s;
}

.assistants-option-container-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: .5rem;
    background-color: var(--two-color);
    width: 10rem;
    height: 18rem;
    border-radius: .5rem;
    color: var(--text-color-one);
    margin: .5rem;
    transition: .15s;
}

.assistants-option-container .icon-button-mode, .assistants-option-container-edit .icon-button-mode {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
}

.assistants-option-container:hover, .assistants-option-container-edit:hover {
    background-color: var(--four-color);
    /* width: 6.2rem;
    height: 9.2rem; */
    color: var(--text-color-tree);
    /* margin: .1rem; */
    /* animation: transformOption .1s; */
}

.assistants-option-container .close, .assistants-option-container-edit .close {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.assistants-option-container .close i, .assistants-option-container-edit .close i {
    font-size: 15pt;
}

.assistants-option-container .close i:hover, .assistants-option-container-edit .close i:hover {
    color: rgb(255, 24, 24);
    cursor: pointer;
}

.assistants-option-container .header .icon, .assistants-option-container-edit .header .icon {
    font-size: 25pt;
    font-weight: 300;
    color: var(--tree-color);
}

.assistants-option-container .body, .assistants-option-container-edit .body {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.assistants-option-container .body .name, .assistants-option-container-edit .body .name {
    font-size: 12pt;
    font-weight: 600;
    max-width: 6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.assistants-option-container-edit .body .edit {
    opacity: 1;
    width: 10rem;
    animation: transforEdit .15s;
    background-color: var(--five-color);
    border-radius: .4rem;
    transition: .15s;
}

.assistants-option-container .body .name:hover {
    color: var(--text-color-one);
}

.assistants-option-container .body .id, .assistants-option-container-edit .body .id {
    font-size: 8pt;
    font-weight: 410;
}

.assistants-option-container .footer, .assistants-option-container-edit .footer {
    width: 100%;
}

.assistants-option-container .footer .status, .assistants-option-container-edit .footer .status {
    width: 100%;
    font-size: 10pt;
    font-weight: 500;
}