.contact-for-exclude-list-container {
  position: relative;
  display: flex;
  background-color: none;
  color: var(--text-color-one);
  align-items: center;
  border-radius: .3rem;
  animation-duration: 0.3s;
  animation-name: eraser;
  cursor: pointer;
  width:100%;
}

.contact-for-exclude-list-container:hover {
  background-color: var(--two-color);
  color: var(--text-color-one);
}

.contact-for-exclude-list-container .inative-contact {
  background-color: var(--two-color);
  opacity: 0.8;
}

.contact-for-exclude-list-container .selected {
  background: var(--contact-selected);
  color: var(--text-color-tree);
  opacity: .9;
}

.contact-for-exclude-list-container .selected-bar {
  position: absolute;
  right: 0;
  background: rgb(60, 208, 255);
  background: linear-gradient(0deg, rgba(60, 208, 255, 1) 0%, rgba(0, 120, 255, 1) 100%);
  width: .2rem;
  z-index: 1;
  height: 100%;
  border-radius: 100px;
}

.disable-bar {
  display: none;
}


.contact-for-list-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.contact-for-list-body .icon-add i{
  color: var(--success-color);
}

.contact-for-list-body .icon-remove i{
  color:var(--danger-color);
}


.contact-for-list-name-number-image {
  display: flex;
  align-items: center;
}

.contact-for-list-status i {
  font-size: 15pt;
  margin: 10px;
}

.contact-status-orange i {
  color: #ff7b39;
}

.contact-status-green i {
  color: #00b170;
}


.contact-for-exclude-list-container .img-contact-for-list img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5rem;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
}

.img-contact-for-list {
  position: relative;
}

.img-contact-for-list .img-icon-app-from {
  position: absolute;
  left: 2.1rem;
  bottom: 1px;
  opacity: 1;
  border-radius: 50%;
  padding: 0.05rem;

}

.img-contact-for-list .img-icon-app-from i {
  color: white;

}

/* .whatsapp {
  background-color: #00b170;
  border: 2px solid var(--one-color);
}

.facebook {
  background-color: #0456e2;
  border: 2px solid var(--one-color);
}

.instagram {
  background-color: #da0c88;
  border: 2px solid var(--one-color);
}

.site {
  background-color: #ff5353;
  border: 2px solid var(--one-color);
}

.telegram {
  background-color: #3c87ff;
  border: 2px solid var(--one-color);
}


.disable {
  background-color: #383838;
  border: 2px solid var(--one-color);
}

.disable-state {
  filter: grayscale(1);
  opacity: .8;
} */


.img-contact-for-list .img-icon-app-from i {
  font-size: 12pt;
  color: var(--text-color-two);
}

.contact-for-list-number-name {
  justify-content: left;
}

.contact-for-list-number-name .name {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  font-weight: 600;
}

.contact-for-list-number-name .number {
  font-size: 8pt;
  font-weight: 600;
  margin-top: -2px;
  opacity: .9;
}

.contact-for-list-number-name .message {
  font-size: 8pt;
  font-weight: 600;
  margin-top: -2px;
  opacity: .9;
}


.contact-for-list-number-name .sector {
  font-size: 7pt;
  font-style: italic;
  font-weight: 400;
  margin-top: 0px;
  opacity: .5;
}

.contact-for-list-number-name .bookmarks-container {
  display: flex;
  align-items: center;
}

.contact-for-list-number-name .bookmarks-container .bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .1rem;
  font-size: 8pt;
  background-color: var(--four-color);
  padding: .4rem;
  max-height: .3rem;
  border-radius: 1rem;
}

.hour-message {
  height: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-one);
  font-size: 9pt;
  font-weight: 400;
  position: relative;
  right: .5rem;
  bottom: unset;
  padding: .3rem;
}

.inAttendanceBy {
  height: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-two);
  font-size: 8pt;
  font-weight: 400;
  position: relative;
  right: .5rem;
  bottom: unset;
  background: rgb(147, 213, 255);
  background: linear-gradient(106deg, rgba(147, 213, 255, 1) 0%, rgba(38, 148, 255, 1) 41%, rgba(0, 125, 255, 1) 100%);
  padding: .3rem;
  border-radius: 1rem;
}

.noInAttendanceBy {
  height: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-one);
  font-size: 8pt;
  font-weight: 400;
  position: relative;
  right: .5rem;
  bottom: unset;
  background-color: var(--two-color);
  padding: .3rem;
  border-radius: 1rem;
  border: 1px solid var(--four-color);
}

.inative {
  height: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-one);
  font-size: 8pt;
  font-weight: 400;
  position: relative;
  right: .5rem;
  bottom: unset;
  background-color: var(--two-color);
  padding: .3rem;
  border-radius: 1rem;
  border: 1px solid var(--text-color-one);
  opacity: .7;
}

.cancel-contact {
  cursor: not-allowed;
  background-color: var(--two-color);
  opacity: 0.5;
}

.cancel-contact:hover {
  background-color: var(--two-color);
}

.contact-for-exclude-list-container .bookmarks-of-client {
  position: absolute;
  bottom: .2rem;
  right: 1rem;
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contact-for-exclude-list-container .bookmarks-of-client .bookmark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: .1rem;
  max-height: .3rem;
  font-size: 8pt;
  font-weight: 500;
  background-color: var(--four-color);
  padding: .5rem;
  border-radius: 1rem;
}


@media(max-width: 1090px) {
  .contact-for-list-number-name .number {
    display: none;
  }

}