.input-number-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    
}

.input-number-container label {
    margin-left: .2rem;
    font-size: 10pt;
    font-weight: 500;
    color: var(--text-color-one);
}

input[type=number] {
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: var(--text-color-one);
    background-color: var(--two-color);
    font-size: 14px;
    font-family: helvetica;
    padding: .5rem;
    cursor: pointer;
    outline: none;
    width: 3rem;
}

input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
    padding: .1rem;
    border-radius: 9999px;
}