@keyframes showIn {
  0% {
    opacity: 0;
    height: 0;
    position: relative;
    bottom: -30rem;
  }
}

.message-area-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color-one);
  height: 100%;
  width: 100%;
  background-color: var(--one-color);
  animation-duration: 0.2s;
  animation-name: eraser;
}

/* ----------------------------------------------------------------- */
.message-area-container .preview-file-upload {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 97%;
  height: 100%;
  background-color: var(--one-color);
}

.message-area-container .preview-file-upload .content {
  max-width: 90%;
  padding: .5rem;
}

.message-area-container .preview-file-upload .input {
  display: flex;
  width: 80%;
  padding: 1rem;
}

.preview-file-upload .content img {
  width: 100%;
}

.preview-file-upload .content video {
  width: 100%;
}

/* ----------------------------------------------------------------- */

.message-area-container .file-hide {
  display: none;
}

.message-area-header {
  background-color: var(--one-color);
  padding: .3rem;
  max-height: 3.6rem;
  z-index: 3;
}

.message-area-header .contact-name-number-profilepic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-name-number-profilepic-content {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  
}

.contact-name-number-profilepic .name-number {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10px;
  width: 100%;
  cursor: pointer;
}

.contact-name-number-profilepic .name-number .name {
  display: flex;
  align-items: center;
  font-size: 15pt;
  margin-left: .5rem;
  font-weight: 600;
  color: var(--text-color-one);
 
}

.contact-name-number-profilepic .name-number .number {
  position: relative;
  display: flex;
  align-items: flex-start;
  top: -.1rem;
  font-size: 9pt;
  font-weight: 400;
  opacity: 1;
}

.contact-name-number-profilepic .name-number .number i {
  position: relative;
  top: -.1rem;
  font-size: 10pt;
  font-weight: 600;
  margin: .3rem;
}


.contact-name-number-profilepic img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 100%;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.message-area-middle {
  position: relative;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  background: rgb(207, 231, 255);
  overflow-y: auto;
  background: var(--background-message-area);
}

.message-area-middle .more-messages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-area-middle .backImage {
  width: 100%;
  height: 100%;

  filter: opacity(25%);
}

.icon-options-client {
  display: flex;
  align-items: center;
  padding: .6rem;
}

.icon-options-client .part-one {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: space-between;
  min-width: 8rem;
}

.message-area-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: showIn 1s ease-in-out;
}

.message-area-footer-noMessages {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  animation: showIn 1s ease-in-out;
}

.message-area-footer .message-area-footer-switch {
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 1;
  
}

.message-area-footer .message-area-footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--one-color);
  padding: .2rem;
}

.message-area-footer .message-area-footer-content .buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-area-footer .message-area-footer-content .buttons .left {
  display: flex;
  align-items: center;
}

#teste button {
  bottom: 2rem;
  width: 2.3rem;
  height: 2rem;
  background-color: var(--four-color);
  box-shadow: none;
  margin-bottom: 1rem;
}

#teste button i {
  color: var(--text-color-one);
}

.message-area-footer .message-area-footer-content .message-text-area {
  background-color: var(--one-color);
  border: solid 0px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: text;
  width: 100%;
  height: 70%;
  margin: 5px;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--text-color-one);
  outline: none;
}

.message-area-footer .message-area-footer-content .footer-middle {
  display: flex;
}

.noMessages {
  position: relative;
  top: 10px;
  color: var(--text-color-two);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.noMessages span {
  padding: 5px;
  background-color: var(--tree-color);
  border-radius: 3px;
}

@media(max-width: 1330px) {
  .message-area-container {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color-one);
    height: 100%;
    width: 100%;
    min-width: 300px;
    background-color: var(--one-color);
    animation-duration: 0.2s;
    animation-name: eraser;
  }

  .message-area-header {
    background-color: var(--two-color);
    padding: 14px;
    min-height: 40px;
  }

  .message-area-header .contact-name-number-profilepic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-name-number-profilepic-content {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
  }

  .contact-name-number-profilepic .name-number {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
    width: 100%;
  }

  .contact-name-number-profilepic .name-number .name {
    font-size: 12pt;
    font-weight: 600;
    color: var(--text-color-one);

  }

  .contact-name-number-profilepic .name-number .number {
    display: none;
  }

  .contact-name-number-profilepic img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
    margin-left: 10px;
    object-fit: cover;
  }

  .message-area-middle {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-color: var(--four-color);
    overflow-y: scroll;
    height: 90%;
  }

  .message-area-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--two-color);
  }

  .message-area-footer .message-text-area {
    background-color: var(--one-color);
    color: var(--text-color-one);
    border: solid 0px;
    border-radius: 5px;
    min-height: 20px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: text;
    width: 100%;
    height: 80%;
    margin: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: var(--text-color-one);
    outline: none;
  }

  .message-area-footer .footer-middle {
    display: flex;
  }

  .dropEmoji {
    position: fixed;
    top: 43%;
    right: 61%;
  }

  .noMessages {
    position: relative;
    top: 10px;
    color: var(--text-color-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  .noMessages span {
    padding: 5px;
    background-color: var(--tree-color);
    border-radius: 3px;
  }
}