.display-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.display-container .normal-size {
    height: 1rem;
}

.display-container .large-size {
    height: 2rem;
}


.display-container .normal {
    width: 100%;
    border: none;
    border-radius: .5rem;
    outline: none;
    background-color: var(--two-color);
    color: var(--text-color-one);
    opacity: .9;
    margin: .5rem;
}

.display-container .clean {
    width: 100%;
    padding: .5rem ;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color-one);
    border: none;
    border-bottom: 2px solid var(--tree-color);
}

.display-container input::placeholder {
    color: var(--text-color-one);
    opacity: .4;
}

.display-container .button-container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-container .icon-to-output {
    position: absolute;
    right: 1rem;
    z-index: 1;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.display-container .icon-to-output i {
    font-size: 15pt;
    padding: .2rem;
    font-weight: 700;
    opacity: .6;
    animation-name: eraserIconSeach;
    animation-duration: .5s;
}