.profile-options-txt .input-edit {
    padding: 5px;
    outline: none;
    background-color: var(--one-color);
    color: var(--text-color-one);
    border: none;
    border-bottom: 2px solid var(--two-color);
}

.message-erro-text {
    color: brown;
    font-weight: 700;
    font-size: 10pt;
}

.buttons{
    display: flex;
}