.useradmin-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--four-color);
}

.useradmin-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  color: var(--text-color-one);
}

.useradmin-list-header .options-header{
  display: flex;
  align-items: center;
}


.useradmin-list-header .title-users {
  font-size: 17pt;
  font-weight: 500;
}

.useradmin-list-body {
  overflow-y: auto;
}

.noUsers {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.5;
}
