<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/simbol.png" />
    <link href='./index.css' rel='stylesheet'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="qrcode"></div>
    <div class="main">
        <h1>Catbot <span>API - Baileys</span></h1>
    </div>
    <div class="body">
        <h1>
            <%= message %>
        </h1>
    </div>

    <div class="footer">
        <span>
            Sistema Desenvolvido por <a href="https://www.instagram.com/izaias.dsgn/">Izaias Ferreira</a>
        </span>
    </div>
    <!-- Script do Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
        integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Certifique-se de que o script do Socket.IO é carregado antes de usar a função `io`
        document.addEventListener('DOMContentLoaded', () => {
            // Initialize Socket.IO client
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: "http://jindo.dev.naver.com/collie",
                width: 128,
                height: 128,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
            const socket = io('http://localhost:3000'); // Substitua pela URL do seu servidor

            socket.on('connect', () => {
                console.log('Conectado ao servidor Socket.IO');
                socket.emit('message', 'Olá, servidor!');
            });

            socket.on('messageResponse', (data) => {
                console.log('Mensagem do servidor:', data);
                // alert(data);
            });

            socket.on('disconnect', () => {
                console.log('Desconectado do servidor Socket.IO');
            });
        });
    </script>
</body>

</html>