.message-container-client {
    position: relative;
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    max-width: 30rem;
    background-color: var(--one-color);
    color: var(--text-color-one);
    border-radius: 0px 10px 10px 10px;
    font-size: 10pt;
    font-weight: normal;
    transition: 1s;
}

.message-container-attendance body, .message-container-client body {
    background-color: rgba(255, 255, 255, 0);

}

.message-container-client .arrow {
    position: absolute;
    left: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: -1px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 12px solid var(--one-color);
    transition: 1s;
}

.message-container-attendance {
    position: relative;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px;
    max-width: 30rem;
    background-color: var(--tree-color);
    color: var(--text-color-two);
    border-radius: 10px 0px 10px 10px;
    font-size: 10pt;
    font-weight: normal;
    transition: 1s;
}

.disable {
    display: none;
}

.message-container-attendance .arrow-options {
    z-index: 1;
    position: absolute;
    right: -0.2rem;
    top: -0.2rem;
    border-radius: 50rem;
    animation-duration: 0.2s;
    animation-name: slidein-arrow-message;
}

.message-container-client .arrow-options {
    z-index: 1;
    position: absolute;
    right: 0rem;
    top: 0rem;
    animation-duration: 0.2s;
    animation-name: slidein-arrow-message;

}

.message-container-attendance .arrow-options svg {
    color: var(--text-color-two);
    padding: 0;
    background-color: var(--tree-color);
    box-shadow: 1px -2px 5px 5px var(--tree-color);
    border-radius: 50rem;
}

.message-container-client .arrow-options svg {
    color: var(--text-color-one);
    padding: 0;
    background-color: var(--two-color);
    box-shadow: 1px -2px 5px 5px var(--two-color);
    border-radius: 50rem;
}

.message-container-attendance .arrow {
    position: absolute;
    right: -10px;
    top: 0px;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12px solid var(--tree-color);
    transition: 1s;
}



.message-container-attendance .arrow {
    position: absolute;
    right: -10px;
    top: 0px;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12px solid var(--tree-color);
    transition: 1s;
}




.name-author-message {
    position: absolute;
    top: -1.5rem;
    left: -.9rem;
    font-size: 6pt;
    padding: .2rem;
    font-weight: 500;
    color: var(--text-color-two);
    display: flex;
    justify-content: left;
    background-color: var(--tree-color);
    border-radius: 100px;
}

.message-middle-text {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.message-middle-content {
    display: flex;
    max-width: 15rem;
    transition: 1s;
}

.message-middle-content .content {
    display: flex;
    flex-direction: column;
    transition: 1s;
}

/* .message-middle-content .content .text-and-hour {
  max-width: 15rem;
} */

.text-message {
    min-width: 3rem;
    max-width: 15rem;
    word-break: break-word;
    white-space: pre-line;
    transition: 1s;
}

.message-middle-content .content .footer-hour, .message-middle-content .content .footer-hour-attendance {
    position: relative;
    bottom: -.9rem;
    right: -.2rem;
    align-items: center;
    font-size: 7pt;
    font-weight: 400;
    display: flex;
    opacity: .8;
    float: right;
    margin: 0 0 10px 10px;
}

.message-middle-content .content .footer-hour-no-text, .message-middle-content .content .footer-hour-attendance-no-text {
    position: absolute;
    bottom: -.2rem;
    right: .4rem;
    align-items: center;
    font-size: 7pt;
    font-weight: 400;
    display: flex;
    opacity: .8;
    float: right;
    margin: 0 0 10px 10px;
}

.delete-for-all-message {
    display: flex;
    align-items: center;
    padding: .3rem;
    font-style: italic;
    color: var(--text-color-two);
    opacity: .5;
    font-weight: 400;
}

.delete-for-all-message i {
    color: var(--text-color-two);
    font-size: 12pt;
    padding: .3rem;
}

.message-middle-content .error-message {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: .9rem;
    padding: .2rem;
    margin: .2rem;
    font-style: italic;
}

.message-middle-content .error-message i {
    margin: .3rem;
    color: red;
}

/* @media(max-width: 900px) {
    .message-container-client {
        position: relative;
        align-self: flex-start;
        margin-top: 15px;
        margin-left: 15px;
        padding: 5px;
        max-width: 50%;
        background-color: var(--two-color);
        color: var(--text-color-one);
        border-radius: 0px 10px 10px 10px;
        font-size: 10pt;
        font-weight: 450;
    }

    .message-container-attendance {
        position: relative;
        align-self: flex-end;
        margin-top: 10px;
        margin-right: 15px;
        padding: 5px;
        max-width: 50%;
        background-color: var(--tree-color);
        color: var(--text-color-two);
        border-radius: 10px 0px 10px 10px;
        font-size: 10pt;
        font-weight: 450;
    }

} */
